#contact {
    max-width: 100%;
    min-height: calc(100vh - 40px);
    background-color: black;

    .contact-Container-parent {
        width: 100%;
        min-height: calc(100% - 176px);
        display: flex;

        .contact-part-left {
            width: 100%;
            min-height: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            margin-left: 25px;

            @media(max-width: $size-dekstop-md-sml) {
                width: 75%;
                margin-left: 0px;
                margin-bottom: 30px;
            }

            @media(max-width: $size-tablette-sml) {
                width: 85%;
            }

            @media(max-width: $size-phone-lg) {
                width: 100%;
            }

            .contact-text-parent {
                padding: 50px 0px 50px 0px;

                @media(max-width: $size-dekstop-md-sml) {
                    padding: 30px 0px 30px 0px;
                }

                .contact-text-enfant {
                    font-size: 40px;
                    color: $font-color-mauve;
                    text-align: center;
                    text-decoration: underline;
                    padding: 15px;

                    @media(max-width: $size-tablette-lg) {
                        font-size: 35px;
                    }

                    @media(max-width: $size-tablette-sml) {
                        font-size: 30px;
                    }

                    @media(max-width: $size-phone-lg) {
                        font-size: 25px;
                    }
                }
            }

            .contact-text {
                width: 100%;
                text-align: center;
                font-size: 22px;
                padding: 10px;
                font-family: $font-text;

                @media(max-width: $size-tablette-lg) {
                    font-size: 20px;
                }

                @media(max-width: $size-phone-lg) {
                    font-size: 18px;
                }

                .contact-text-spanFirst {
                    font-weight: bolder;
                    color: $font-color-mauve;
                    text-decoration: underline;
                }

                contact-text-spanSecond {
                    text-decoration: none;
                }
            }

            .contact-icons-parent {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;


                img {
                    width: 46px;
                    height: 44px;
                    margin: 15px 5px 15px 5px;

                    @media(max-width: $size-tablette-lg) {
                        width: 35px;
                        height: 33px;
                    }

                    @media(max-width: $size-phone-lg) {
                        width: 27px;
                        height: 25px;
                    }

                    @media(max-width: $size-phone-sml) {
                        width: 23px;
                        height: 21px;
                    }
                }

                .special-size-icons {
                    width: 65px;

                    @media(max-width: $size-tablette-lg) {
                        width: 53px;
                    }

                    @media(max-width: $size-phone-lg) {
                        width: 45px;
                    }

                    @media(max-width: $size-phone-sml) {
                        width: 38px;
                    }
                }
            }
        }

        .contact-part-right {
            width: 100%;
            height: 600px;
            background-image: url("images/IMG_20231021_174058.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-color: $font-color-black;
            box-shadow: inset 5px 2px 20px 20px $font-color-black;
            background-size: contain;
            margin-right: 25px;

            @media(max-width: $size-dekstop-md-sml) {
                width: 75%;
                height: 400px;
                order: -1;
                margin-right: 0px;
                margin-bottom: 30px;
            }

            @media(max-width: $size-phone-lg) {
                width: 85%;
            }
        }
    }
}