/*****   TAG FONT   *****/
$font-base: 'Homenaje', sans-serif;
$font-header: "Imbue", serif;
$font-special-quote: "Roboto", sans-serif;
$font-text: "Raleway", sans-serif;

/*****   TAG COLOR   *****/
$font-color-white: #ffffff;
$font-color-rose: #e796f7;
$font-color-mauve: #6461f2;
$font-color-mauve-fonce: #5453dd;
$font-color-mauve-clair: #E4E4F6;
$font-color-bleu-clair: #cde2ff;
$font-color-gris: #787887;
$font-color-black-Leger: #191919;
$font-color-black: black;

/*****   TAG MENU   *****/
$menu-width: 150px;
$menu-height: 150px;

/*****   FONT SIZE MENU BURGER  *****/
$font-size-li: 21px;

/*****   SIZE MENU BURGER  *****/
$menu-burger-width-tablette-md: 44px;
$menu-burger-height-tablette-md: 24px;

/*****   FONT SIZE TITLE H1  *****/
$font-size-h1-dekstop-lg: 84px;
$font-size-h1-dekstop-md: 74px;
$font-size-h1-dekstop-sml: 54px;
$font-size-h1-tablette-lg: 48px;

/*****   RESIZING TITLE H1  *****/
$h1-resizing-left-dekstop-lg: 35%;
$h1-resizing-left-tablette-md: 15%;
$h1-resizing-left-phone-lg: 10%;
$h1-resizing-left-phone: 5%;

/*****   FONT SIZE TITLE H2  *****/
$font-size-h2-dekstop-lg: 60px;
$font-size-h2-dekstop-sml: 50px;

/*****   PADDING H2  *****/
$padding-h2: 55px;

/*****   FONT SIZE TITLE H3  *****/
$font-size-h3-dekstop-lg: 30px;

/*****   FONT SIZE TITLE H4  *****/
$font-size-h4-dekstop-lg: 45px;
$font-size-h4-dekstop-md-sml: 35px;
$font-size-h4-dekstop-sml: 30px;

/*****   RESIZING WIDTH h4 PROJECTS   *****/
$width-h4-dekstop-lg: 75%;
$width-h4-dekstop-sml: 50%;
$width-h4-tablette-sml: 60%;
$width-h4-phone-lg-md: 70%;
$width-h4-phone-sml: 80%;

/*****   FONT SIZE TITLE H6  *****/
$font-size-h6-dekstop-lg: 45px;
$font-size-h6-tablette-lg: 40px;
$font-size-h6-tablette-md: 35px;
$font-size-h6-tablette-sml: 30px;
$font-size-h6-phone-lg: 25px;

/*****   FONT SIZE TEXT P  *****/
$font-size-p-dekstop-lg: 24px;
$font-size-p-tablette-lg: 22px;
$font-size-p-phone-lg: 20px;
$font-size-p-phone-md: 18px;

/*****   FONT SIZE CONTACT TEXT P  *****/
$font-size-contact-p-dekstop-lg: 22px;
$font-size-contact-p-tablette-lg: 20px;
$font-size-contact-p-phone-lg: 18px;

/*****   SIZE TRIANGLE 1   *****/
$menu-width-triangle1-dekstop-lg: 290px;
$menu-height-triangle1-dekstop-lg: 290px;

$menu-width-triangle1-dekstop-sml: 240px;
$menu-height-triangle1-dekstop-sml: 240px;

$menu-width-triangle1-tablette-lg: 215px;
$menu-height-triangle1-tablette-lg: 215px;

$menu-width-triangle1-tablette-md: 190px;
$menu-height-triangle1-tablette-md: 190px;

$menu-width-triangle1-phone-lg: 160px;
$menu-height-triangle1-phone-lg: 160px;

/*****   RESIZING TRIANGLE 1   *****/
$triangle1-resizing-left-dekstop-lg: 40%;
$triangle1-resizing-left-tablette-md: 30%;
$triangle1-resizing-left-tablette-sml: 25%;
$triangle1-resizing-left-phone-lg: 22%;
$triangle1-resizing-left-phone: 14%;
$triangle1-resizing-left-phone-md: 10.5%;
$triangle1-resizing-left-phone-sml: 5%;

/*****   SIZE TRIANGLE 2   *****/
$menu-width-triangle2-dekstop-sml: 82%;
$menu-width-triangle2-dekstop-sml-sml: 83%;
$menu-width-triangle2-tablette-lg: 74%;
$menu-height-triangle2-tablette-lg: 40%;
$menu-width-triangle2-tablette-lg-md: 75%;
$menu-width-triangle2-tablette-md: 66%;
$menu-width-triangle2-tablette-sml: 68%;
$menu-width-triangle2-phone-lg: 65%;
$menu-width-triangle2-phone-lg-md: 65%;
$menu-width-triangle2-phone: 74%;
$menu-width-triangle2-phone-md: 76%;
$menu-width-triangle2-phone-sml: 78%;

/*****   RESIZING TRIANGLE 2   *****/
$triangle2-resizing-left-dekstop-lg: 41.5%;
$triangle2-resizing-left-dekstop-md-sml: 42%;
$triangle2-resizing-left-tablette-md: 32.5%;
$triangle2-resizing-left-tablette-sml: 28%;
$triangle2-resizing-left-phone-lg-md: 25%;
$triangle2-resizing-left-phone-lg: 24.5%;
$triangle2-resizing-left-phone: 17.5%;
$triangle2-resizing-left-phone-md: 14%;
$triangle2-resizing-left-phone-sml: 9%;

/*****   RESIZING BLOCK WORK   *****/
$width-block-work-dekstop-sml-sml: 50%;
$width-block-work-tablette-lg: 55%;
$width-block-work-tablette-lg-md: 60%;
$width-block-work-tablette-sml: 70%;
$width-block-work-phone-lg: 80%;
$width-block-work-phone-lg-md: 80%;
$width-block-work-phone: 88%;
$width-block-work-phone-sml: 100%;

/*****   RESIZING BLOCK PROJECTS   *****/
$width-partRight-projects-dekstop-lg: 100%;
$width-partRight-projects-dekstop-md-sml: 60%;
$width-partRight-projects-dekstop-sml-sml: 70%;
$width-partRight-projects-tablette-lg: 75%;
$width-partRight-projects-tablette-md: 75%;
$width-partRight-projects-tablette-sml: 80%;
$width-partRight-projects-phone-lg: 85%;
$width-partRight-projects-phone-md: 90%;

/*****   RESIZING IMAGE CONTACT   *****/
$width-image-contact-dekstop-md-sml: 60%;
$width-image-contact-tablette-lg: 70%;
$width-image-contact-phone-lg: 85%;
$width-image-contact-phone: 95%;

/*****   MARGIN-TOP BLOCK PROJECTS   *****/
$marginTop-partRight-projects-dekstop-md-sml: 105px;
$marginTop-partRight-projects-dekstop-sml-sml: 145px;

/*****   FONT SIZE QUOTE  *****/
$font-size-quote: 44px;

/*****   RESIZING ICONS IMG  *****/
$width-icons-dekstop-lg: 46px;
$width-icons-tablette-lg: 35px;
$width-icons-phone-lg: 27px;
$width-icons-phone-sml: 23px;

/*****   RESIZING ICONS IMG  *****/
$height-icons-dekstop-lg: 44px;
$height-icons-tablette-lg: 33px;
$height-icons-phone-lg: 25px;
$height-icons-phone-sml: 21px;

/*****   RESIZING SPECIAL ICONS  *****/
$width-special-icons-dekstop-lg: 65px;
$width-special-icons-tablette-lg: 53px;
$width-special-icons-phone-lg: 45px;
$width-special-icons-phone-sml: 38px;

/*****   TAG SIZE DEKSTOP   *****/
$size-dekstop-lg-md: 1500px;
$size-dekstop: 1400px;
$size-dekstop-md: 1300px;
$size-dekstop-md-sml: 1200px;
$size-dekstop-sml: 1100px;
$size-dekstop-sml-sml: 1000px;
$size-tablette-lg: 900px;
$size-tablette-lg-md: 800px;
$size-tablette-md: 700px;
$size-tablette-sml: 600px;
$size-phone-lg: 500px;
$size-phone-lg-md: 450px;
$size-phone: 400px;
$size-phone-md: 375px;
$size-phone-sml: 350px;